################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WeavingDB/v16/Server/sqlite3
/ConsoleApp1/obj/Debug
/output/release
/packages
/src/WeavingDB.DataEncoding.Core/obj
/WeavingDBClient/obj/Debug
/WeavingDBLogical/obj/Debug
/WeavingDB/obj/Debug
/.vs/WeavingDB/v16
/src/WeavingDB.Client/obj
/src/WeavingDB.Logical/obj/Debug
/src/WeavingDB.Logical/obj
