<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="KVnoselecttimeout" value="43200"/>
    <add key="KVRemove" value="false"/>
    <!--KV设置数据的未被访问的时限，超时时间，单位（秒），如果在规定时间内，数据未被二次访问则数据呗清理-->
    <add key="noselecttimeout" value="86400"/>
    <!--设置非关型数据的未被访问的时限，超时时间，单位（秒），如果在规定时间内，数据未被二次访问则数据被清理，0为不清理-->
    <add key="userid" value="admin"/>
    <add key="pwd" value="123123"/>
    <add key="port" value="18989"/>
  </appSettings>
</configuration>
