<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KVnoselecttimeout" value="30"/><!--KV设置数据的未被访问的时限，超时时间，单位（秒），如果在规定时间内，数据未被二次访问则数据呗清理-->
    <add key="noselecttimeout" value="0"/>
    <!--设置非关型数据的未被访问的时限，超时时间，单位（秒），如果在规定时间内，数据未被二次访问则数据被清理，0为不清理-->
  </appSettings>
</configuration>